<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
	<test name="test1">

		<parameter name="myName" value="hello-to-our-new-QA-deveS" />

		<classes>
			<class
				name="com.my_qa_guide.Parameterized_Test.demo.ParameterizedTest1" />
			<class
				name="com.my_qa_guide.Parameterized_Test.demo.ParamTestWithDataProvider1" />
			<class
				name="com.my_qa_guide.Parameterized_Test.demo.ParamTestWithDataProvider2" />
		</classes>

	</test>
</suite>



